/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: rgba(153, 51, 43, 1);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  /* transform: scale(0.9);
  transform-origin: center; */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-background);
  font-family: "Inter", "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  /* text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
#app {
  position: relative;
  height: 100vh;
  width: 100%;
  max-width: 1623px;
  max-height: 1000px;
}
#main{
  position: relative;
  height: 100%;
  background-color: #fff;
  clip-path: polygon( 3.098% 93.2%,0.058% 11.93%,0.058% 11.93%,0.064% 11.458%,0.115% 11.005%,0.207% 10.579%,0.338% 10.186%,0.503% 9.831%,0.7% 9.522%,0.925% 9.264%,1.174% 9.065%,1.444% 8.929%,1.731% 8.864%,96.085% 0.032%,96.085% 0.032%,96.733% 0.063%,97.349% 0.267%,97.924% 0.631%,98.448% 1.139%,98.912% 1.776%,99.306% 2.527%,99.621% 3.376%,99.848% 4.309%,99.978% 5.31%,100% 6.364%,97.121% 97.257%,97.121% 97.257%,97.083% 97.72%,97.003% 98.156%,96.884% 98.559%,96.729% 98.924%,96.544% 99.245%,96.33% 99.517%,96.093% 99.734%,95.835% 99.891%,95.561% 99.981%,95.274% 100%,3.691% 94.143%,3.691% 94.143%,3.598% 94.126%,3.509% 94.087%,3.427% 94.028%,3.351% 93.951%,3.283% 93.857%,3.224% 93.749%,3.175% 93.627%,3.137% 93.494%,3.111% 93.351%,3.098% 93.2% );
}
.poppins{
  font-family: "Poppins";
}
.content{
  height: 100%;
  /* position: relative; */
  /* z-index: 1; */
}